@import 'styles/base.scss';
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a,
  a:visited,
  a:active,
  a:focus {
    padding: 1rem;
    color: $white;
    text-decoration: none;
  }
}