@import 'styles/base.scss';
.App {

  header {
    width: 100%;
    nav {
      display: flex;
    }
  }
  a,
  a:visited,
  a:active,
  a:focus {
    padding: 1rem;
    color: $white;
    text-decoration: none;
  }
}